window-rule {
    match app-id="discord"
    match app-id="Spotify"

    open-on-output "DP-3"
}

window-rule {
    match app-id="steam"

    open-on-output "DP-2"
    open-floating true
}

window-rule {
    match title="Friends List"

    default-floating-position x=2027 y=173
}

window-rule {
    match app-id="steam_app_.*"

    open-on-output "DP-2"
    open-maximized true
}
