input {
    keyboard {
        xkb {
        }
        numlock
    }

    touchpad {
        dwt
        tap
    }

    mouse {
    }

    trackpoint {
    }
}

output "DSI-1" {
    mode "1200x1920@50.002"
    scale 1
    position x=0 y=0
}

output "DP-1" {
    mode "1920x1080@60.000"
    scale 1
    position x=0 y=-1080
}

output "DP-2" {
    mode "1920x1080@60.000"
    scale 1
    position x=0 y=-1080
}

output "HDMI-A-1" {
    mode "1920x1080@60.000"
    scale 1
    position x=0 y=-1080
}

layout {
    gaps 16

    preset-column-widths {
        proportion 0.39
        proportion 0.5
        proportion 0.61
    }

    default-column-width { proportion 0.5; }
}
