include "config/binds.kdl"
//include "config/blur.kdl"
include "config/rules.kdl"
include "config/startup.kdl"
include "devices/laptop.kdl"

screenshot-path "~/Screenshots/%Y-%m-%dT%H-%M-%S.png"

overview {
    backdrop-color "292828"
}

layout {
    center-focused-column "never"

    focus-ring {
        off
        width 5
        inactive-color "#1b1b1b"
        active-gradient from="#e78a4e" to="#d8a657" angle=45
    }

    border {
        width 4
        active-color "#ffc87f"
        inactive-color "#1b1b1b"
        urgent-color "#ea6962"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

cursor {
    xcursor-theme "Capitaine-Cursors-Gruvbox-White"
    xcursor-size 24
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

gestures {
    hot-corners {
        off
    }
}
