window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id="org.cachyos.hello"
    match app-id="org.quickshell"
    match app-id=".*pavucontrol.*"
    match title=".*olphin.*"
    open-floating true
    open-focused true
}

window-rule {
    match app-id=".*pavucontrol.*"
    default-column-width {
        fixed 840;
    }
    default-window-height {
        fixed 540;
    }
}

window-rule {
    match title=".*olphin.*"
    default-column-width {
        fixed 1110;
    }
    default-window-height {
        fixed 700;
    }
}
